DATABASE_URL="file:./dev.db"
API_PORT=8787
APP_TIME_ZONE=Asia/Shanghai

# 科大讯飞在线语音合成 / 流式版
XF_APPID=
XF_API_KEY=
XF_API_SECRET=

# 可在讯飞控制台开通试用或购买发音人后替换为对应 vcn 参数值
XF_TTS_EN_US_VOICE=catherine
XF_TTS_EN_GB_VOICE=mary
XF_TTS_SPEED=42
XF_TTS_VOLUME=85
XF_TTS_PITCH=50
